<!DOCTYPE html>
<html>
<head>
    <title>Skill - View All</title>
</head>
    <body>
        <h1>Skills</h1>
        <a href="/skill/add" >
            Add Skill
        </a>
        <br />
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            <% for(var i = 0; i < skill.length; i++) {%>
                <tr>
                    <td><%= skill[i].skill_name %></td>
                    <td><%= skill[i].description %></td>
                    <td>
                        <a href="/skill/edit/?skill_id=<%= skill[i].skill_id %>">
                            Edit
                        </a>
                    </td>
                </tr>
            <% } %>
        </table>
    </body>
</html>