<!DOCTYPE html>
<html>
<head>
    <title>School - View All</title>
</head>
    <body>
        <h1>School - View All</h1>
        <br />
        <a href="/school/add">Add School</a>
        <table border="1">
            <tr>
                <th>School</th>
                <th>Street Address</th>
                <th>Zip Code</th>
                <th>Actions</th>
            </tr>
            <% for(var i = 0; i < school.length; i++) { %>
                <tr>
                    <td><%= school[i].school_name %></td>
                    <td><%= school[i].street %></td>
                    <td><%= school[i].zip_code %></td>
                    <td>
                        <a href="/school/edit/?school_id=<%= school[i].school_id %>">Edit</a>
                    </td>
                </tr>
            <% } %>
        </table>
    </body>
</html>